*{
    margin: 0px 0px 0px 0px;
}
.nav{
    height: 80px;
    background-color: rgb(67, 1, 128);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;
}
.select select{
    color: white;
    border: 0px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(67, 1, 128);
}
.logo img{
    height: 40px;
    width: 100px;
    margin: 0px 0px 0px 50px;
}
.search input{
    height: 40px;
    width: 700px;
    border-radius: 10px;
}
.cart button{
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    height: 50px;
    width: 150px;
    margin: 0px 50px 0px 0px;
    background-color: crimson;
}
.login a{
   font-size: 20px;
    color: white;
    background-color: rgb(67, 1, 128);
    text-decoration: none;
    
}
.search ::placeholder{
    font-size: 15px;
}
.nav2{
    height: 80px;
    background-color: rgb(130, 5, 247);
    text-align: center;
    color: white;
}
.nav2 h2{
    font-family: sans-serif;
    padding: 6px 0px 0px 0px;
}
.section1 img{
    padding: 15px 0px 0px 40px;
    border-radius: 5px;
}
.section2 img{
    width: 95%;
    padding: 15px 0px 0px 40px;
}
.box
{
    height: 250px;
    width: 180px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px whitesmoke;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 5px;
}
.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 100px;
}
.box h4
{
    font-weight: bold;
    padding-top: 20px;
    
}
.pa button{
    margin: 0px 0px 0px 50px;
    color: red;

}
.section4{
    margin-top: 50px;
}
.see{
    margin-left: 1200px;
    font-family: sans-serif;
    font-weight: bold;
    color: crimson;
}
.fav{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.section3{
    display: flex;
   margin-top: 45px;
   margin-left: 45px;
}
.section5{

}